---
layout: base
---

<div id="main_content_wrap" class="outer">
    <div class="inner flex-wrapper">
        <section id="main_content">
            <h1>Welcome to Manchester's Carpentry Community!</h1>
            At the University of Manchester there are various groups offering training in research computing (including Carpentry workshops) to researchers and PhD students, including:
            <ul>
                <li><a href="http://www.staffnet.manchester.ac.uk/staff-learning-and-development/academicandresearch/practical-skills-and-knowledge/it-skills/research-computing/research-courses/"> Research IT</a></li>
                    <li>
                        <a href="https://www.cmist.manchester.ac.uk/study/short/">Cathie Marsh Institute for Social Research (CMI</a>
                    </li>
                <li>
                    <a href="http://www.library.manchester.ac.uk/contact/other-services/">Library Services</a>
                </li>
            </ul>

            Contact <a href="http://www.itservices.manchester.ac.uk/research/">Research IT</a> for Carpentry workshops in general, or for training for Doctoral Training Centres.
            For Data Carpentry for social sciences the best point of contact is <a href="https://www.cmist.manchester.ac.uk/">CMIST</a>, while <a href="http://www.itservices.manchester.ac.uk/research/">Research IT</a> will be able to guide
            you and provide information about general Data Carpentry workshops or Data Carpentry for your domain. See our <a href="{{site.baseurl}}/contact">contact page</a> for details on how to get in touch with each of these individual training providers.

            <h2>Carpentry Workshops</h2>
            <ul class="post-list">
                {% for post in site.posts %}
                {% if post.type == "workshop_announcement" %}
                <li>
                    <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
            {{ content }}
        </section>
        <section id="posts">
            {% include latest_news.html %}
        </section>
    </div>
</div>
