---
layout: base
---

<div id="main_content_wrap" class="outer">
    <div class="inner flex-wrapper">
        <section id="main_content">
            <h2>Welcome to Manchester's Carpentry Community!</h2>
            At the University of Manchester there are various groups offering training in research computing (including Carpentry workshops) to researchers and PhD students, including:
            <ul>
                <li><a href="http://www.staffnet.manchester.ac.uk/staff-learning-and-development/academicandresearch/practical-skills-and-knowledge/it-skills/research-computing/research-courses/"> Research IT</a></li>
                    <li>
                        <a href="https://www.cmist.manchester.ac.uk/study/short/">Cathie Marsh Institute for Social Research (CMI)</a>
                    </li>
                <li>
                    <a href="https://www.library.manchester.ac.uk/using-the-library/students/training-and-skills-support/">The University of Manchester Library</a>
                </li>
                <li>Manchester branch of <a href="https://software.ac.uk/">the Software Sustainability Institute</a> based at <a href="https://esciencelab.org.uk/">the eScienceLab group</a> in the Department of Computer Science</li>
            </ul>

            Contact <a href="http://www.itservices.manchester.ac.uk/research/">Research IT</a> for Carpentry workshops in general, or for training for Doctoral Training Centres.
            For Data Carpentry for social sciences the best point of contact is <a href="https://www.cmist.manchester.ac.uk/">CMI</a>, while <a href="http://www.itservices.manchester.ac.uk/research/">Research IT</a> will be able to guide
            you and provide information about general Data Carpentry workshops or Data Carpentry for your domain. Manchester branch of the Software Sustainability Institute offers 
            training coordination and carpentry community support and consultancy. See our <a href="{{ '/contact' | relative_url }}">contact page</a> for details on how to get in touch with each of these individual groups and training providers.

            <h2>Get in touch</h2>
             <ul class="post-list">
                 <li>Check out our <a href="{{ '/contact' | relative_url }}">contact page</a> including <a href="mailto:CARPENTRIES@listserv.manchester.ac.uk">local Manchester community mailing list</a></li>
                 <li><a href="https://join.slack.com/share/zt-qfkvs900-P7g41z~GoYIv~WxHW9n0pQ" target="_blank">#local-uk-manchester</a> Slack channel under Carpentries Slack</li>
                 <li><a href="mailto:CARPENTRIES@listserv.manchester.ac.uk">Local Manchester Carpentries community mailing list</a>  </li>
                 <li><a href="https://hackmd.io/V3ReKkEESzqyCNxWJdulOw" target="_blank">UK Carpentry Community space</a></li>
            </ul>
            <h2>Carpentry Workshops @ Manchester</h2>
            <ul class="post-list">
                {% for post in site.posts %}
                {% if post.type == "workshop_announcement" %}
                <li>
                    <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
            {{ content }}
        </section>
        <section id="posts">
            {% include latest_news.html %}
        </section>
    </div>
</div>
